.overlay{
	visibility: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
}
.modal{
	margin: auto;
}

#game{
	visibility: hidden;
}

span{
	display:inline-block;
	border-style: solid;
    vertical-align: top;
    padding: 20px;
    margin: 10px 10px 20px 10px;
    background-color: white;
}

button{
	margin-top: 20px;
}

span:hover{
	background-color: yellow;
}

.selected{
	background-color: green;
}

.pinned{
	pointer-events: none;
	background-color: gray;
}

.unpinned{
	background-color: beige;
}
.win{
	color: green;
}
.lose{
	color:red;
}
.tie{
	color:blue;
}